.input {
    &__container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &_error {
        input {
            border: 1px solid #d93025 !important;
            &:focus,&:valid {
                + label {
                    color:#d93025 !important
                }
            }
        }
    }
    input {
        //padding: 12px 15px;
        padding: 0.75em 0.9375em;
        border: 1px solid rgb(218,220,224);
        border-radius: 4px;
        color: #202124;
        font-size: 16px;
        &:focus,&:not([value=""]) {
            border-color: rgb(26,115,232);
            + label {
                color:rgb(26,115,232);
                font-size: 0.825em !important;
                transform: translateY(0);
                //transform: translate(0,-250%);
                top:-0.5em;
                //transform: translate(0,-32px);
                //bottom: 17px !important;
            }
        }
    }
    label {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        background: #fff;
        color: #5f6368;
        font-size: 16px;
        font-weight: 400;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        max-width: -webkit-calc(100% - (2*8px));
        max-width: calc(100% - (2*8px));
        overflow: hidden;
        padding: 0 8px;
        text-overflow: ellipsis;
        transition: all .2s ease 0s;
    }
}

.error {
    padding: 4px 0 0;
    display: flex;
    &__sign {
        width: 13px;
        height: 13px;
        fill:#d93025;
    }
    span {
        padding: 0 0 0 8px;
        color: #d93025;
        display: flex;
        font-size: 12px;
        line-height: normal;
        margin-top: 2px;
    }
}