@use "../../styles/vars" as vars;
@use "../../styles/mixins" as mixins;

.upload {
    width: 100%;
    min-height: 100vh;
    @include mixins.flexBox();
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba($color: black, $alpha: 0.5);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        min-height: 873px;
        max-height: 873px;
        width: 960px;
        border-radius: 8px;
        position: relative;
    }
    &__header {
        width: 100%;
        height: 63px;
        border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0;
        span {
            max-width: calc(100% - 40px - 24px);
            overflow: hidden;
            font-size: 20px;
            color:#212121;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__body {
        padding:  20px 48px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width:14px;
        }
        &::-webkit-scrollbar-thumb {
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
            background-color: rgb(96,96,96);
        }

        &::-webkit-scrollbar-track-piece {
            background-color: rgb(249,249,249);
            margin-bottom: 53px;
        }

        &_first {
            @include mixins.flexBox()
        }
    }
    &__title {
        color:#212121;
        font-size: 25px;
        font-weight: 500;
    }
    &__name {
        margin: 20px 0 0;
        width: 531px;
        min-height: 86px;
    }
    &__description {
        margin: 20px 0 0;
        width: 531px;
        min-height: 165px !important;
    }
    &__badge {
        margin: 30px 0 0;
        & > span {
            color:#0D0D0D;
            font-size: 15px;
            font-weight: 500;
        }
        & > div {
            margin: 10px 0 0;
        }
    }
    &__right {
        padding: 45px 0 0;
    }
    &__player {
        width: 304px;
    }
    &__bottom {
        width: 100%;
        height: 53px;
        border-top: 1px solid rgba($color: black, $alpha: 0.1);
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 9999999;
        justify-content: space-between;
        background-color: white;
        span {
            margin: 0 0 0 20px;
            font-size: 13px;
            color:vars.$secondary;
        }
    }
    &__button {
        &_next {
            margin: 0 20px 0 0;
        }
    }
}
.videoUpload {
    @include mixins.flexBox();
    flex-direction: column;
    &__title {
        margin: 20px 0 0;
        font-size: 15px;
        color: #0D0D0D;
        text-align: center;
    }
    &__subtitle {
        margin: 10px 0 0;
        font-size: 13px;
        color: vars.$secondary;
        text-align: center;

    }
    &__button {
        margin: 20px 0 0;
    }

}


.icon {
    &__cross {
        width: 24px;
        height: 24px;
        fill: vars.$secondary;
        cursor: pointer;
    }
    &__upload {
        width: 136px;
        height: 136px;
        fill: vars.$secondary;
    }
    &__loader {
        width: 50px;
        height: 50px;
        fill: vars.$secondary;
    }
}