@use "../../styles/vars" as vars;

.videoPage {
    width: 100%;
    background-color: #f9f9f9;
    min-height: calc(100vh - #{vars.$headerHeight});
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0 0;
    }
    &__left {
        width: 1200px;
        @media (max-width:1230px) {
            width: 1000px;
        }
        @media (max-width:1000px) {
            width: 800px;
        }
        @media (max-width:800px) {
            width:100%;
        }
    }
    &__info {
        padding: 10px 0 0;
    }
    &__title {
        display: flex;
        max-width: 100%;
        font-size: 18px;
        line-height: 2.6rem;
        color: vars.$primary;
        h1 {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__subInfo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width:600px) {
            flex-direction: column;
        }
    }
    &__add {
        display: flex;
        align-items: center;
        gap:20px;
    }
    &__comments {
        padding: 20px 0;
    }
    &__bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__loader {
        width: 50px;
        height: 50px;
    }
}


.subInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 2rem;
    color: vars.$secondary;
    letter-spacing: .2px;
    font-weight: 400;
    align-self: flex-start;
    &__dot {
        padding: 2px 5px 0;
        div {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: vars.$secondary;
        }
        
    }
}


.send {
    padding: 20px 0 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    &__body {
        width: 100%;
        padding: 0 0 0 10px;
    }
    &__textarea {
        textarea {
            width: 100%;
            resize: none;
            border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
            background-color: #f9f9f9;
            letter-spacing: .2px;
            height: 22px;
            overflow: hidden;
            &:focus {
                border-bottom: 2px solid rgba($color: black, $alpha: 1.0);
            }
        }
    }
    &__buttons {
       display: flex;
       width: 100%;
       justify-content: flex-end;
       padding:5px 0 0;
        button {
            text-transform: uppercase;
            font-weight: 500;
            padding: 10px 16px;
            background-color: #f9f9f9;
        }
    }
    &__cancel {
        color:vars.$secondary;
    }

    &__submit {
        color:vars.$secondary;
        background-color:   rgba($color: vars.$secondary, $alpha: 0.1)   !important;
        &:not([disabled]) {
            color:white;
            background-color:   rgba($color: #065fd4, $alpha: 1.0)   !important;
        }
    }
    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
            border-radius: 50%;
        }
    }
}

