.progress {
    position: relative;
    width: 435px;
    height: 5px;
    background-color: #e0e0e0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    &__slide {
        position: absolute;
        width: 40%;
        height: 5px;
        background-color: #1a73e8;
        animation-name: progressAnimation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}


@keyframes progressAnimation {
    0% {
        transform: translateX(-150%) scale(1);
    }
    50% {
        transform: translateX(50%) scale(1.5);
    }
    100% {
        transform: translateX(250%) scale(1);
    }
}